
.features {
  padding: 40px 0 80px 0;
}

.features__tagline {
  text-align: center;
  margin-bottom: 4px;
}

.features__title {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin-bottom: 24px;
}

.features__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 290px;
  gap: 24px;
}

.features__img {
  width: 230px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item--title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  font-weight: 300;
  font-size: 14px;
}

.features__item--value {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .features__title {
    margin-bottom: 30px;
  }

  .features__wrapper {
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 52px;
  }

  .features__list {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .features__img {
    width: 276px;
  }
}

@media (min-width: 1024px) {
  .features {
    padding: 70px 0 140px;
  }

  .features__tagline {
    margin-bottom: 8px;
    font-size: 20px;
  }

  .features__title {
    margin-bottom: 56px;
    font-size: 40px;
  }

  .features__wrapper {
    gap: 138px;
  }

  .features__list {
    gap: 24px;
  }

  .features__img {
    width: 356px;
  }

  .features__item--title {
    font-size: 16px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
  }

  .features__item--value {
    font-size: 20px;
  }
}
