.navigation__list {
  display: flex;
  gap: 20px 50px;
}

.navigation__item {
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s ease-in-out;
}

.navigation__item:hover,
.navigation__item:focus,
.navigation__item :active {
  border-color: #000000;
}

.navigation__list-column--mob {
  flex-direction: column;
}

@media (min-width: 560px) {
  .navigation__list-column--mob {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .navigation__list {
    gap: 84px;
  }
}
